[submodule "modules/packages/custom/bumblebee-status"]
    path = modules/packages/custom/bumblebee-status
    url = git@github.com:novafacing/bumblebee-status.git
[submodule "nixos-private"]
	path = nixos-private
	url = ssh://git@github.com/novafacing/nixos-private.git
[submodule "modules/packages/nur"]
	path = modules/packages/nur
	url = ssh://git@github.com/novafacing/nur-packages.git
